body {
    padding-bottom: 20px;
    background: url('https://images.wallpaperscraft.com/image/bird_silhouette_vector_134154_1920x1080.jpg') no-repeat center center fixed;
    /* background: linear-gradient(to right, #e67e22, #e74c3c) */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Open Sans', sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.form-control {
    border-radius: 9px;
    font-size: 17px;
    padding: 20px 10px;
}

    .form-control:focus {
        border-color: #EB6864;
        box-shadow: none;
    }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.lineBorderBottom {
    border-bottom: 3px solid #EB6864;
}

.navBorderBottom {
    border-bottom: 3px solid #EB6864;
    border-radius: 6px;
}

.dashboard {
    border-bottom: 3px solid #EB6864;
    border-radius: 6px;
    box-shadow: 0 4px 6px;
}