@{
    ViewBag.Title = "Movies";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Movies</h2>
<div><a href="@Url.Action("AddMovie")" class="btn btn-secondary float-right mb-2">Add Movie</a></div>
<table class="table table-bordered table-hover" id="myTable" style="width:100%">
    <thead>
        <tr>
            <td>
                Title
            </td>
            <td>
                Genre
            </td>
            <td>
                Uploaded
            </td>
            <td>
                Actions
            </td>
        </tr>
    </thead>
</table>


@*Datatables css*@
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@*Datatables js*@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
             function DeleteRow(id) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteMovie","Movies")/' + id,
                    dataType: 'json',
                    success: function (response) {
                        alert('Successful deleted movie with id - ' + id);
                        window.location.reload();
                    },
                    error: function (errorMsg) {
                        alert(errorMsg.responseText);
                    }
                });
            }

            $("#myTable").DataTable({
                "ajax": {
                    "url": "/admin/dashboard/listmovies",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Title" },
                    { "data": "GenreName" },
                    { "data": "ReleaseDate" },
                    {
                        "data": "MovieId", "width": "50px", "render": function (data) {
                            return '<div class="btn-group" role="group" aria-label="Basic example">'
                                + '<a href="/admin/movies/editmovie/' + data + '" class="btn btn-secondary"> Edit</a >'
                                + "<a onclick=\DeleteRow(" + data + ")\ class='btn btn-danger'>Delete</a>"
                                   +'</div >'
                        }
                    }
                ]
            });


        });
    </script>
}