
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered" id="userTable">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
        </tr>
    </thead>
</table>


@*Datatables css*@
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@*Datatables js*@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
                
            $("#userTable").DataTable({
                "ajax": {
                    "url": "/admin/users/listusers",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "UserId" },
                    { "data": "Name" },
                    { "data": "Email" }
                ]
            });
        });

    </script>
    }